
/* 1st section */
.header {
    background: rgba(255, 144, 14, 0.1);
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px 30px 150px;
    align-items: center;

}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

nav ul {
    display: flex;
    gap: 20px;

}

nav li {
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    color: #424242;
}

.banner {
    display: flex;

    align-items: center;
    flex-direction: column;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    left: 550px;
    text-align: center;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
    color: #727272;
    left: 526px;
}

.btn-primary {
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 5px;
    border: none;
    width: 180px;
    height: 60px;
    margin-left: 200px;
    margin-bottom: 45px;
    margin-top: 20px;
}

.banner>img {
    width: 1440px;
    height: 700px;
    align-items: center;
    margin-bottom: 40px;
}

/* Feature Section */
.Feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 8px;
    gap: 24px;
    width: 342px;
    height: 342px;
}

.feature {
    display: flex;
    gap: 70px;
    padding: 0 200px;
    margin-top: 40px;
    align-items: center;

}

.btn-primary1 {
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 5px;
    border: none;
    width: 180px;
    height: 60px;
}

.feature-title {
    margin-left: 400px;
    left: 2000px;
}

.feature-title>h1 {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.text-primary {
    color: #131313;
}

.text-primariy1 {
    color: #FF900E;
}

.image {
    margin-left: 100px;
}

/* Experience */
.experience {
    display: flex;
    padding: 250px;
    gap: 30px;
    margin-top: 200px;
}

.experience-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    width: 468px;
    height: 106px;
}

.experience-description {
    font-weight: 400;
    width: 200px;
    font-size: 16px;
    color: #727272;
}

.feature-head {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.feature-description {
    font-weight: 100;
    font-size: 16px;
    color: #727272;
}

.Feature {
    background: #FFFFFF;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

/* Facts section */

.experiences {
    padding: 10px 80px;
}

.title {
    padding: 0 250px;
}

.fact-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.fact-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.Facts {
    display: flex;
    padding: 0 300px;
    gap: 130px;
}

.number {
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    color: #424242;
    padding-right: 10px;
    padding-left: 10px;
}

.caption {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #727272;
}

.box {
    width: 200px;
    padding: 200px;
    /* height: 250px; */
    border-radius: 5px;
    padding: 10px;
}

.box:hover {
    background-color: aqua;
    padding: 5px 7px;
    border-radius: 10px;
    border: 2px solid #FF900E;
}

/* Our Sponspors */
.sponspor {
    text-align: center;
    margin-top: 180px;
}

.sponspor-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponspor-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.sponspor-image {
    padding: 40px 200px;
    display: flex;
    gap: 100px;
    filter: grayscale(100%);
    margin-bottom: 90px;
}

/* footer section */
footer {
    padding: 0 180px;
    margin-bottom: 90px;
}

.footer {
    background: #FFF4E7;
    border-radius: 5px;
    border: 2px solid #FFF4E7;
}

.footer-description {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
}